<!-- DO NOT RENDER DIFFERENT CONTENT FOR A LOGGED IN USER
  <div class="landing-container">
  <div class="text-center">
  <div class="row">
    <div class="col-xl-6 col-sm-6 mb-3 offset-3">
      <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-header">
      API Credentials
      </div>
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-key"></i>
          </div>
          <div class="mr-5">Your API credentials should be kept secret. Use them to authenticate and report the calls you make to the Echo API.</div>
        </div>
        {% if current_account.applications.size == 0 %}
        <a class="card-footer text-white clearfix small z-1" href="{{ urls.new_application }}" title="Applications">
          <span class="float-left">Create Application</span>
        {% elsif current_account.applications.size > 0 %}
        <a class="card-footer text-white clearfix small z-1" href="{{ urls.applications }}">
          <span class="float-left">Your Applications & Credentials</span>
        {% endif %}
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>
-->
<!--<div class="col-xl-4 col-sm-6 mb-3">
                <div class="card text-white bg-catalog o-hidden h-100">
                  <div class="card-header">Account Information API</div>
                  <div class="card-body">
                    This allows regulated third party providers to read account information, such as transaction or balance details in an online payment account.
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fas fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>

    <section class="start">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Your API Key</h1>
        <br>
        <p class="lead">
        This is your API key that should be kept secret. Use it to authenticate and report the calls you make to the Echo API.
        </p>
      </div>
      <div class="col-md-6" style="padding-top:2em;">
        <div class="panel panel-default" id="access-details">
          <div class="panel-heading">
            <i class="fa fa-key"></i>
            Credentials
            {% if current_account.applications.size > 0 %}
              <a class="pull-right" href="{{ urls.applications }}" title="Applications">
                <i class="fa fa-chevron-right"></i>
              </a>
            {% endif %}
          </div>
          <div class="panel-body panel-footer">
            {% if current_account.applications.size == 0 %}
              <a href="{{ urls.new_application }}" class="btn btn-primary">Create Application</a>
            {% elsif current_account.applications.size == 1 %}
              {% assign app = current_account.applications.first %}

              {% if app.user_key_mode? %}
                <dl class="dl-horizontal">
                  <dt>App name</dt>
                  <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                  <dt>Key</dt>
                  <dd>
                    <code>{{ app.user_key }}</code>
                    <p>Add this as a <code>user_key</code> parameter to your API calls to authenticate.</p>
                  </dd>
                </dl>

              {% elsif app.app_id_mode? %}
                <dl class="dl-horizontal">
                  <dt>App name</dt>
                  <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                  <dt>App ID</dt>
                  <dd><code>{{ app.application_id }}</code></dd>
                  <dt>Key</dt>
                  <dd><code>{{ app.keys.first }}</code></dd>
                </dl>

              {% elsif app.oauth_mode? %}
                <dl class="dl-horizontal">
                  <dt>App name</dt>
                  <dd><a href="{{ app.url }}">{{ app.name }}</a></dd>
                  <dt>Client ID</dt>
                  <dd><code>{{ app.application_id }}</code></dd>
                  <dt>Client Secret</dt>
                  <dd><code>{{ app.keys.first }}</code></dd>
                </dl>
              {% endif %}

              {% if app.trial? %}
                <div class="alert alert-warning">
                  <h3>Trial period</h3>
                  <p>{{ app.remaining_trial_period_days }} days remaining.</p>
                </div>
              {% endif %}

            {% elsif current_account.applications.size > 1 %}
              <a href="{{ urls.applications }}" class="btn btn-primary">See your Applications & their credentials</a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
    </section>-->



<header class="jumbotron page-header">
  <div class="container">
    <div class="text-center">

      <h1>Red Hat Open Banking Platform</h1>

    </div>
  </div>
</header>
<section>
  <div class="landing-container quote-block">
    <div class="text-center">
      <div class="row">
      <div class="col-xl-8 offset-xl-2">
      <h1 style="color: #161616;"><i>Build out your Open Banking Platform Business Model of the Future with APIs</i></h1>
      </div>
      </div>
    </div>
  </div>
  <div class="landing-container info-block">
    <div class="text-center">
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          
          <p>
            Since 2011 the number of regulations a bank needs to track on a global level has tripled. Complying with all
            these regulations can be seen as a burden or even threat. But it can also be embraced to entirely reinvent a
            bank’s business and operational models.
          </p>
          <p>
            Banks can open up their data and services in a controlled way, grow ecosystems around their assets and leverage
            banking innovations created by Third Parties.
          </p>
          <p>
            This is the power of <b>application programming interfaces</b> (APIs).
          </p>
          <p></p>
          <h3><i>“Banking services are necessary. Banks are not”</i></h3>
          <h3><i> -- Bill Gates, mid 90s</i></h3>
        </div>
      </div>



    </div>
  </div>
</section>


<!-- <div class="container landing-container">
        <div class="text-center">
          
            <h1><b>API Catalog</b></h1>
            <hr>
            <p>
            Our API catalog allows to search and invoke APIs from three different categories -- following the standard proposed by <a href="https://openbanking.org.uk">openbanking.org.uk</a>: Account Information API, Transaction Initiation API, and Open Data API.
            </p>
            <p>
        
            </p>
            <p>
        
            </p>
            <p>
              <center>
              <table class="paleBlueRows">
              <thead>
              <tr>
              <th style="width: 33%;">Account Information API</th>
              <th style="width: 33%;">Transaction Initiation API</th>
              <th style="width: 33%;">Open Data API</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
              <td><a href="/docs">View API</a></td>
              <td><a href="/docs">View API</a></td>
              <td><a href="/docs">View API</a></td>
              </tr>
              </tfoot>
              <tbody>
              <tr>
              <td>This allows regulated third party providers to read account information, such as transaction or balance details in an online payment account.</td>
              <td>This allows regulated third party providers to set up or make payments directly from an online payment account, such as a single payment or a recurring payment.</td>
              <td>This makes publicly available information easy to use in mobile and web applications. This data includes product information, ATM and branch locations plus information and metrics about service quality.</td></tr>
              </tbody>
              </tr>
              </table>
              </center>
            </p>		    
            <p></p>
          <p>  
              <center>  
              <a class="btn btn-success" href="/docs">Go to documentation</a>
                    
                  <a class="btn btn-success" href="/signup">Try the APIs now</a>
          </center>
            </p>
        </div>
        </div>-->

<section id="banking-regulations">
<div id="accordionThree">
  <div class="landing-container">
     <div class="text-center"> 
      <div class="content-container">
        <div class="row">
          <!-- <div class="col-md-12 col-xl-8 offset-xl-2" id="headingThree"> -->
          <div class="col-xl-8 col-md-8 offset-xl-2 offset-md-2" id="headingThree">
            <h1>Banking regulations -- Turning a threat into an opportunity</h1>
            
              
            <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="cursor: pointer;"><i class="fas fa-angle-down"></i> Read More</a>
            
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionThree">
        	  
                
            	<p>Since 2011 the number of regulations a bank needs to comply with has tripled on a global level.
              Complying with regulations is costly, risky and can have serious impact on a bank's business. The diagram below is from <a href="https://www.mckinsey.com/industries/financial-services/our-insights/data-sharing-and-open-banking" target="_blank">McKinsey</a> and shows a selection of world-wide regulations.</p> 
              <img src="https://www.mckinsey.com/~/media/McKinsey/Industries/Financial%20Services/Our%20Insights/Data%20sharing%20and%20open%20banking/SVGZ-Data-sharing-and-open-banking-Ex2.ashx">
              <p>One of the most well-known and established regulation in Europe is the <a href="https://ec.europa.eu/info/law/payment-services-psd-2-directive-eu-2015-2366_en" target="_blank">Payment Service Directive 2</a> (PSD2). Here is a <a href="http://mgboyd.com/psd2-focusing-on-action-with-open-apis/" target="_blank">further report</a> that translates the legislative into more actionable items.</p>  
                <p>For more details please refer to our Red Hat <a href="https://www.redhat.com/en/technologies/industries/financial/open-banking" target="_blank">Open Banking</a> page.</p>
            	<br>  
          
          	</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>

  <div class="landing-container info-block">
    <div class="text-center">
      <div class="row">
        <div class="col-md-12 col-xl-8 offset-xl-2">
          <h1>API Catalog</h1>
          <hr>
          <p>
            Our API catalog allows to search and invoke APIs from three different categories -- following the standard
            proposed by <a href="https://openbanking.org.uk">openbanking.org.uk</a>: Account Information API, Transaction
            Initiation API, and Open Data API.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-2 offset-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-catalog o-hidden h-100">
            <div class="card-header">Account Information API</div>
            <div class="card-body">
              This allows regulated third party providers to read account information, such as transaction or balance
              details in an online payment account.
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-2 col-sm-6 mb-3">
          <div class="card text-white bg-catalog o-hidden h-100">
            <div class="card-header">Payment Initiation API</div>
            <div class="card-body">
              This allows regulated third party providers to set up or make payments directly from an online payment
              account, such as a single payment or a recurring payment.
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-2 col-sm-6 mb-3">
          <div class="card text-white bg-catalog o-hidden h-100">
            <div class="card-header">Open Data API</div>
            <div class="card-body">
              This makes publicly available information easy to use in mobile and web applications. This data includes
              product information, ATM and branch locations plus information and metrics about service quality.
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fas fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <a class="btn btn-success" href="/docs">Go to documentation</a>

      <a class="btn btn-success" href="/signup">Try the APIs now</a>
    </div>
  </div>

</section>
<section id="app-gallery">
  <div id="accordionOne">
    <div class="landing-container">
      <div class="content-container">
        <div class="row">
          <div class="col-md-12 col-xl-8 offset-xl-2">
            <div class="text-center header-container" id="headingOne">
              <h1>App Gallery</h1>
              <br />
              <h4>See here some examples of what our developers and partners have created using our APIs.</h4>
              <hr />
              <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                style="cursor: pointer;"><i class="fas fa-angle-down"></i> Show Apps</a>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionOne">
        <div class="content-container">
          <div class="row">
            <div class="col-md-7 col-xl-5 offset-xl-2">
              <h3>AAR -- ATM via Augmented Reality</h3>
              <p>There is nothing more user friendly than using augmented reality to find your closest ATM.</p>
              <a href="#">www.aar.io</a>
            </div>
            <div class="col-md-5 col-xl-3">
              <img src="/images/1_ATM-via-AR.jpg">
            </div>
          </div>
        </div>
        <br />
        <div class="content-container">
          <div class="row">
            <div class="col-md-3 col-xl-2 offset-xl-2">
              <img class="img-sm" src="/images/2_pass-by-and-buy.png">
            </div>
            <div class="col-md-9 col-xl-6">
              <h3>Pass by and buy</h3>
              <p>Imagine you always wanted this specific pair of expensive boots but you never found them on sale?</p>
              <p>Well, with Pass by and buy this is now possible and super easy, too.
                You just walk down the street and whenever your phone picks up any of the products you are interested
                in on sale in a shop that you just passed, you get a notification.
                You can also buy directly using the app.</p>
              <a href="#">www.passby.io</a>
            </div>
          </div>
        </div>


        <div class="landing-container">
          <div class="content-container">
            <div class="row">
              <div class="col-md-9 col-xl-6 offset-xl-2">
                <h3>Pay-a-buddy</h3>
                <p>Pay-a-buddy is a peer-to-peer payment service that makes it very easy to track and pay any debts
                  between friends.</p>
                <a href="#">www.PayBuddy.com</a>
              </div>
              <div class="col-md-3 col-xl-2">
                <img class="img-sm pull-right" src="/images/3_pay-a-buddy.png">
              </div>
            </div>
          </div>
          <br />
          <div class="content-container">
            <div class="row">
              <div class="col-md-3 col-xl-2 offset-xl-2">
                <img class="img-sm" src="/images/4_Money-manager.png">
              </div>
              <div class="col-md-9 col-xl-6">
                <h3>Money Manager</h3>
                <p>Money Manager is an easy way to control and manage your expenditure and gives you easy access to
                  your
                  bank account and any other financial products.</p>
                <a href="#">www.MoneyManager.com</a>
              </div>
            </div>
          </div>
          <br />
          <div class="content-container">
            <div class="row">
              <div class="col-md-9 col-xl-6 offset-xl-2">
                <h3>Contact</h3>
                <p>If you would like to know more about these apps, our APIs or if you want to have your app promoted
                  on
                  this site, please get in touch via our <a href="https://www.redhat.com/en/contact#contact-form" target="_blank">Contact Form</a></p>
              </div>
              <div class="col-md-3 col-xl-2">
                <img class="img-sm pull-right" src="/images/5_Icon_RH_Objects_Envelope-Email_RGB_Black.png">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</section>




<section>
  <div class="landing-container info-block">
    <div class="text-center">
      <div class="row">
      <div class="col-xl-8 offset-xl-2">
      <h1>API Access Levels</h1>
      <hr>
      <br />
      </div>
      </div>
      {% for service in model.services %}

      {% for service_plan in service.service_plans %}
      <div class="content-container">
        <div class="row">
          <div class="text-center header-container">
            <h3 style="width: 100%;">{{ service.name }}</h3>
          </div>
          {% for plan in service.application_plans %}
          <div class="col-xl-4 {% cycle 'offset-xl-2', '' %} col-sm-6 mb-3">
            <div class="card text-white bg-catalog o-hidden h-100">
              <div class="card-header">
                <strong>{{ plan.name }}</strong>
              </div>
              <div class="card-body">
                <div class="row">

                  {% if plan.features == present %}
                  <div class="col-xl-12 col-sm-12">
                    <h5>Features</h5>
                    <ul class="features list-unstyled">
                      {% for feature in plan.features %}
                      <li>
                        <i class="fa fa-check"></i>
                        {{ feature.name }}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <!-- DO NOT RENDER LIMITS FOR NOW MAYBE ENABLE THIS AT A LATER DATE
                    <div class="col-sm-6">
                      <h5>Limits</h5>
                      <ul class="limits list-unstyled">
                        {% if plan.usage_limits == present %}
                          {% for limit in plan.usage_limits %}
                            <li>
                              <i class="fas fa-signal"></i>
                              {{ limit.metric.name }} &ndash; {{ limit.value }} {{ limit.metric.unit }}s per {{ limit.period }}
                            </li>
                          {% endfor %}
                        {% else %}
                          <li>
                            <i class="fas fa-signal"></i>
                            No limits
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                    -->

                </div>
              </div>
              <div class="card-footer text-white clearfix small z-1">
                <div class="row">
                  <div class="col-xl-12 col-sm-12">

                    <a class="btn btn-success" {% if plan.system_name contains "partner" or plan.system_name contains "premium" %}mailto="{{ service.support_email }}"{% else %}href="{{ urls.signup }}?{{ plan | to_param }}"{% endif %}>Signup to {{ plan.name }}</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      {% endfor %}

    </div>
  </div>

</section>
<section id="about">
<div id="accordionTwo">
  <div class="landing-container">
    <div class="content-container">

      <div class="row">
        <div class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
          <div id="headingTwo">
            <h1>Red Hat and Open Banking</h1>
            <p>Red Hat has a lot to offer when it comes to open source and Open Banking. 100% of commercial banks in the Fortune Global 500 <a href="https://www.redhat.com/en/technologies/industries/financial" target="_blank">rely on Red Hat</a>.</p>
              <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="cursor: pointer;"><i class="fas fa-angle-down"></i> Read More</a>
            <hr>
            <br />
          </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionTwo">
            
            <p>Open source, open banking and open APIs are not necessarily strictly connected. Red Hat is well know for
              the unique open source based development model. It is very beneficial but also very hard to get right.
              The main benefits for customers of open source based products, which are fuelled by on a large and active
              community, are transparency, security and speed. This is why more and more open source based products
              evolve on the market -- not just in banking. (more about <a href="https://www.redhat.com/en/technologies/industries/financial" target="_blank">Red Hat and Open Banking</a>)</p>
            <hr>
            <br />
            

            <h2>Red Hat’s Agile Integration Concept</h2>
            
            <p>The Red Hat Open Banking platfrom is based on the principles of <a href="https://www.redhat.com/en/engage/agile-integration-devops-containers-20180614" target="_blank">Agile Integration</a>. Agile Integration is an architectural approach centered around application programming interfaces (APIs) and API Management. It combines agile methods and practices with specific IT technologies for the purpose of rapidly integrating applications and data, using platforms particularly suited for flexible, adaptive and reusable solutions.</p> 
                
             

			<p>At its core Agile Integration describes three pillars: 
				<ul>
					<li>Distributed Integration</li>
					<li>Containers</li>
					<li>APIs and API Management</li>
          		</ul>
              <div class="text-center">
              <img src="https://redhatmiddleware.files.wordpress.com/2017/12/agileintegration-overview.png?w=640&h=399">
              </div>
              <br />
              
			Each pillar provides specific benefits in terms of business capabilities: Distributed Integration results in greater flexibility, Containers lead to the ability to scale better, and managed APIs offer re-usability and hence increased speed. </p>
          	<hr>
            <h2>More on Open Banking</h2>  
            <p>Complying with Open Banking regulations is costly, risky and can have serious impact on a bank's business. This
              impact, however, can go both ways. Banks have a choice about how to be compliant. They can either do the bare minimum, which on first sight may appear to be cheaper. But banks may inadvertently set themselves up for irrelevance by becoming a service provider who has to compete on
              price with little or no customer engagement. Or a bank can embrace the regulations and approach them head
              on with the strategic objective to become the bank central to everyday life based on a future proof
              banking platform business model.</p>

            <p>The main idea, which all these regulations have in common, is to enforce more openness and higher
              security, which should enable more competition -- ultimately leading to improved customer service
              quality. This is also referred to as <b>open banking</b>.</p>

            <p>It is by now commonly accepted that opening up banking assets, such as data or services, in a controlled
              and managed way, is best achieved by using APIs and API management
              technology. Building an open banking platform centered around API management can lead to a whole range of
              strategic benefits for banks such as, increased agility, increased rate of innovation, existing data or
              services can be leveraged more effectively, ecosystems with partners and customers can be established
              faster, more effective integration with diverse set of different apps (mobile, IoT, bots etc), generation
              of new business models, and probably the most attractive one: new revenue opportunities can be generated
              directly or indirectly via access to APIs.</p>

            <p>This is the vision. But achieving this is not a straightforward task requiring some fundamental changes
              with respect to internal processes, culture, technological and architectural approaches to build out the
              required capabilities. Some of most critical capabilities include: </p>
          
          <ul>
            <li>Controlled openness so that the bank knows who does what with their data</li>
            <li>Agility to create new services quickly based on market demand</li>
            <li>Consolidated, consistent and controlled security and access model including identity management</li>
            <li>Flexible approach to integration that must support all modern integration patterns and protocols but at
              the same time allow effective integration with legacy systems and never become a central bottleneck</li>
            <li>On-demand scalability to cover application request peaks</li>
            <li>Continuous integration and delivery and automatable lifecycle management</li>
            <li>System-wide business monitoring, reporting and alerting</li>
          </ul>
          
            <p>To achieve this solution architecture of the Red Hat Open Banking platform resides on the principles of
              <a href=https://www.redhat.com/en/engage/agile-integration-devops-containers-20180614>Agile Integration</a>.
                Agile Integration addresses typical integration challenges with an architectural approach centered
                around APIs and the concept of <i>API management-as-code</i> where everything is an API and, thus, can
                be fully automated. Furthermore, integration logic is designed to be distributed and containerized. </p>

            <p>This is a fundamentally different approach to the traditional way of building, integrating and deploying
              software systems. In the past, such systems were typically built as a centralised, monolithic application
              hosted in an on-premise data center, which is inflexible, inefficient and expensive. Agile integration
              allows to build containerized cloud-native applications and deploy them in hybrid cloud infrastructures
              that span on-premise data centers as well as private or public clouds and allow on demand scaling. </p>

            <hr>
            <br />
              
            <h2>Open Banking Reference Implementation</h2>
            <p>Red Hat proposes a reference implementation for Open Banking platforms that is leveraging Agile Integration principles. The Red Hat Open Banking platform follows this reference implementation. The diagram below gives a high-level overview over the main components of the architecture.</p>
          <div class="text-center">
          <img src="https://redhatmiddleware.files.wordpress.com/2017/12/bankingreferencearchitecture.png?w=640&h=318">
          </div>
          <br />
          <p>For a detailed description of all the components, please refer to our article <a href="https://middlewareblog.redhat.com/2018/01/22/the-role-of-agile-integration-in-open-banking/" target="_blank">The Role of Agile Integration in Open Banking</a></p>
            <hr>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



</section>
<!--
    <section class="sell">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Register</h3>
            <p>
            <i class="fa fa-sign-in fa-3x pull-left"></i>
            Register to the developer portal to use the Echo API
            </p>
          </div>
          <div class="col-md-4">
            <h3>Get your API key</h3>
            <p>
            <i class="fa fa-key fa-3x pull-left"></i>
            Use your API key to authenticate and report the calls you make
            </p>
          </div>
        <div class="col-md-4">
          <h3>Create your app</h3>
          <p>
          <i class="fa fa-code fa-3x pull-left"></i>
          Start coding and create awesome applications with the Echo API
          </p>
          </div>
        </div>
        </div>
    </section>
  -->
