<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ provider.name }}
      {% endif %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">

    {% csrf %}
    {{ content_of.javascripts | html_safe }}
    {{ '//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css' | stylesheet_link_tag }}
    
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' | javascript_include_tag }}
    {{ '/javascripts/3scale.js' | javascript_include_tag }}
    {{ '/javascripts/excanvas.compiled.js' | javascript_include_tag }}
    
    {% comment %}
    The following variable can be assigned the following values to change the style template used across the portal: "patternfly", "core-ui".
    {% endcomment %}
    
    {% assign style = "patternfly"%}
    
    {{ content_of.stylesheets | html_safe }}
    
    {% if style == "patternfly" %}
    {{ '/css/patternfly.css' | stylesheet_link_tag }}
    {% elsif style == "core-ui" %}
    {{ '/css/core-ui.css' | stylesheet_link_tag }}
    {% endif %}
    
    <style>
    table.paleBlueRows {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid #004153;
  width: 550px;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 3px solid #004153;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
  color: #333333;
}
table.paleBlueRows tr:nth-child(even) {
  background: #004153;
}
table.paleBlueRows thead {
  background: #004153;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
  text-align: center;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}
  </style>  
  </head>
  

  <body>
    <header role="banner">
      <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" style="position: static">
        <div class="container tabbed">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{  provider.name }}</a>
          </div>
          {% include 'submenu'%}
        </div>
      </nav>

      {% comment %}
        WARNING: Please note that if you remove the block below
        you developer portal will stop displaying errors and
        information messages such as 'Invalid password' on
        login form or similar.
      {% endcomment %}

        <div id="flash-messages">
          {% for message in flash.messages %}
            <div class="navbar navbar-fixed-top navbar-default alert alert-{{ message.type }}" data-dismiss="alert">
              <div class="container">
                  <button type="button" class="close"  aria-hidden="true">&times;</button>
                  {{ message.text }}
              </div>
            </div>
          {% endfor %}
        </div>
    </header>

    <main id="main-content" role="main">
      {% if request.path == '/' %}
        {% content %}
      {% else %}
        <div class="full">
          <div class="container">
            {% content %}
          </div>
        </div>
      {% endif %}
    </main>

    <footer role="contentinfo">
      <div class="container">
        <ul class="list-inline pull-right">
          <!-- 
          <li>&copy; {{ today.year }} {{ provider.name }},</li>
          <li><a class="powered-by" href="http://3scale.net/">Powered by 3scale</a></li>
			-->
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include 'analytics' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
  </body>
</html>


