{% include 'users_menu' %}
  <div class="card mb-3">
  <div class="card-header">
  <i class="fas fa-envelope"></i>
  Invitations
  <div class="pull-right">
          <div class="btn-group">
          {% if current_user.can.invite_users? %}
            <a href="{{ urls.new_invitation }}" class="pull-right">
              <i class="fas fa-user-plus"></i>
              Invite new user
            </a>
            {% endif %}
          </div>
          </div>
  </div>
  <div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Recipient</th>
          <th>Sent</th>
          <th>Accepted?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if invitations.size > 0 %}
          {% for invitation in invitations %}
            <tr id="invitation_{{ invitation.id }}">
              <td>{{ invitation.email }}</td>
              <td>
                {{ invitation.sent_at | date: i18n.short_date }}
              </td>
              <td>
                {% if invitation.accepted? %}
                  yes, on {{invitation.accepted_at | format: i18n.short_date }}
                {% else %}
                  no
                {% endif %}
              </td>
              <td style="text-align: center;">
                  {% unless invitation.accepted? %}
                    {{ "Resend" | update_button: invitation.resend_url, class: 'btn-header' }}
                  {% endunless %}
              </td>
              <td style="text-align: center;">
                  {% if current_user.can.invite_users? %}
                      {{ '<i class="fas fa-trash"></i>' | html_safe | link_to: invitation.url, method: 'delete' }}
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No invitations</td>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        <tr>
          <th>Recipient</th>
          <th>Sent</th>
          <th>Accepted?</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    {% include 'shared/pagination' with pagination %}
    </div>
    </div>
  </div>