{% include 'users_menu' %}
  <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Users
        <div class="pull-right">
          <div class="btn-group">
            {% if current_user.can.invite_users? %}
            <a href="{{ urls.new_invitation }}" class="pull-right">
              <i class="fas fa-user-plus"></i>
              Invite new user
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>
                {{ current_user.fields.email.label }}
              </th>
              <th>Role</th>
              <th>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  {% if user == current_user %}
                    <span class="label label-primary">YOU</span>
                  {% endif %}
                  {{ user.display_name }}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  {% if user.can.be_managed? %}
                    {% if current_user == user %}
                      <a href="{{ urls.personal_details }}" title="Edit user">
                        <i class="fas fa-user-cog"></i>
                      </a>
                    {% else %}
                      <a href="{{ user.edit_url }}" title="Edit user">
                        <i class="fas fa-user-edit"></i>
                      </a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>
                {{ current_user.fields.email.label }}
              </th>
              <th>Role</th>
              <th>
              </th>
            </tr>
          </tfoot>
        </table>
        </div>
      </div>
  {% include 'shared/pagination' with pagination %}
  </div>
