{% include 'users_menu' %}
<div class="card mb-3">
  <div class="card-header">
  <i class="fas fa-cog"></i>
  Account Details
    {% if current_account.can.be_updated? %}
    <div class="pull-right">
    <div class="btn-group">
    <a class="card-link" href="{{ current_account.edit_url }}">
      <i class="fas fa-edit"></i>
      Edit Account
    </a>
    </div>
    </div>
    {% endif %}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            {% for field in current_account.fields %}
            {% if field.value != "" and field.visible? %}
            <th>{{ field.label }}</th>
            {% endif %}
            {% endfor %}
            <!-- add one field bound to 'user' -->
            <th>{{ current_account.admin.fields.email.label }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for field in current_account.fields %}
            {% if field.value != "" and field.visible? %}
            <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
            <td>{{ current_account.admin.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">

  <em>Please email to {{ provider.support_email | mail_to | class: "card-link" }} if
      you have any problems with your account {% if current_account.can.be_deleted? %}
      or you would like to cancel it. {% else %}. {% endif %}</em>
      </div>
</div>