{% include 'messages/menu'%}
<div class="card mb-3">
  <div class="card-header">
  <i class="fas fa-envelope"></i>
  Messages
  </div>
  <div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Subject</th>
          <th>To</th>
          <th>Date sent</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if messages.size > 0 %}
          {% for message in messages %}
            <tr class="{{ message.state }}">
              <td><a href="{{ message.url }}">{{ message.subject }}</a></td>
              <td>{{ message.recipients }}</td>
              <td>{{ message.created_at }}</td>
              <td>{{ '<i class="fas fa-trash"></i>' | html_safe | link_to: message.url, title: 'Delete message', method: 'delete' }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>Your outbox is empty.</td>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        <tr>
          <th>Subject</th>
          <th>To</th>
          <th>Date sent</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    </div>
    </div>
</div>
{% include 'shared/pagination' with pagination %}
