{% include 'messages/menu' %}
<div class="card mb-3">
      <div class="card-header">
        <a href="{{ urls.messages_outbox }}">
          <i class="fas fa-chevron-left"></i>
          All messages
        </a>
        <div class="pull-right">
        <div class="btn-group">
        <span>
          {{ '<i class="fa fa-trash"></i>' | html_safe | link_to: message.url, method: 'delete' }}
        </span>
        </div>
        </div>
      </div>
      <div class="card-body">
        <dl class="dl-horizontal">
          <dt>Subject</dt>
          <dd>{{ message.subject }}</dd>
          <dt>Sent</dt>
          <dd>by {{ message.sender }} at {{ message.created_at | date: i18n.long_date }}</dd>
          <dt>Message</dt>
          <dd><pre class="message">{{ message.body }}</pre></dd>
        </dl>
      </div>
</div>
