{% include 'users_menu' %}
<div class="card mb-3">
<div class="card-header">
<i class="fas fa-file-invoice"></i>
Invoices
</div>
<div class="card-body">
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Month</th>
          <th>State</th>
          <th>Amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr class="invoice {% cycle 'odd', 'even' %}">
            <td> {{ invoice.friendly_id }} </td>
            <td> {{ invoice.name }} </td>
            <td> {{ invoice.state }} </td>
            <td> {{ invoice.currency }} {{ invoice.cost }} </td>
            <td style="text-align: center;">
              {% assign title = 'Show ' | append: invoice.friendly_id %}
              {{ 'Show' | link_to: invoice.url, title: title, class: 'btn btn-default'  }}
            </td>
            <td style="text-align: center;">
              {% if invoice.exists_pdf? %}
                {{ '<i class="fas fa-file-pdf"></i> PDF' | html_safe | link_to: invoice.pdf_url, title: 'Show pdf' }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Month</th>
          <th>State</th>
          <th>Amount</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    {% include 'shared/pagination' with pagination %}
    <h3>Support</h3>
    <p>Contact us by email: {{ provider.finance_support_email }}</p>
    </div>
    </div>
</div>





