{% include 'messages/menu' %}
<div class="card mb-3">
<div class="card-header">
  <i class="fas fa-envelope"></i>
  Messages
</div>
<div class="card-body">
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Subject</th>
          <th>From</th>
          <th>Received</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if messages.size > 0 %}
          {% for message in messages %}
            <tr class="{{ message.state }}">
              <td>{{ message.subject | link_to: message.url }}</td>
              <td>{% if message.sender == present %}{{ message.sender }}{% else %}<span class="deleted">(user deleted)</span>{% endif %}</td>
              <td>{{ message.created_at }}</td>
              <td style="text-align: center;">{{ '<i class="fas fa-trash"></i>' | html_safe | link_to: message.url, title: 'Delete message', method: 'delete' }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>Your inbox is empty.</td>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        <tr>
          <th>Subject</th>
          <th>From</th>
          <th>Received</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    </div>
    </div>
</div>
{% include 'shared/pagination' with pagination %}
